<ion-view view-title="About">
  <ion-content>
    <p class="about">Loadschedule was written in Ionic by
    David Horscroft, based on an API provided from WhereIsMyPower.co.za.</p>
  	<ion-list>
  		<ion-item onclick="window.open('http://whereismypower.co.za', '_system', 'location=yes'); return false;" class="item-icon-left">
  			<i class="icon ion-social-github"></i>
  			Loadschedule Source
  		</ion-item>
  		<ion-item onclick="window.open('http://whereismypower.co.za', '_system', 'location=yes'); return false;" class="item-icon-left">
  			<i class="icon ion-link"></i>
  			WhereIsMyPower
  		</ion-item>
  		<ion-item onclick="window.open('http://ionicframework.com', '_system', 'location=yes'); return false;" class="item-icon-left">
  			<i class="icon ion-ionic"></i>
  			Ionic Framework
  		</ion-item>
  	</ion-list>
  </ion-content>
</ion-view>
